---
layout: base
---
#wrapper-3
  #main-wrapper
    #main
      /content title
      %script{:src=>"http://www.jboss.org/dms/jbossway/js/bootstrap.js", :type=>"text/javascript"}
      = partial("_data-banner.html.haml")
      .clear-both