%div{:style=>"margin-left: 90px; padding-top: 20px; padding-bottom: 20px; clear:both;"}
  %h3 Travel along the JBoss Way…
  %div{:style=>"float:left; width: 250px; padding-bottom: 30px;"}
    %h4 Learn
    %ul{:style=>"margin-left: 5px; margin-top: 5px; padding: 0;"}
      %li{:style=>"list-style-type: none;"}
        %a{:href=>"/developer/about.html"}About The JBoss Way
      %li{:style=>"list-style-type: none;"}
        %a{:href=>"/developer/about.html"}Consulting &amp; Support
      %li{:style=>"list-style-type: none;"}
        %a{:href=>"http://www.redhat.com/consulting/middleware/"}Consulting and Support
      %li{:style=>"list-style-type: none;"}
        %a{:href=>"http://www.redhat.com/training/paths/jboss-middleware-1.html"}Training
      %li{:style=>" list-style-type: none;"}
        %a{:href=>"https://community.jboss.org/blogs"}Blog
      %li{:style=>"list-style-type: none;"}
        %a{:href=>"/developer/subscribe.html"}Subscribe to the Newsletter
  %div{:style=>"float:left;width:250px;"}
    %h4 Get Going
    %ul{:style=>style="margin-left: 5px; margin-top: 5px; padding: 0;"}
      %li{:style=>"list-style-type: none;"}
        %a{:href=>"https://devstudio.jboss.com/earlyaccess"}Get JBoss Developer Studio
      %li{:style=>"list-style-type: none;"}
        %a{:href=>"/developer/quickstarts"}Quickstarts
      %li{:style=>"list-style-type: none;"}
        %a{:href=>"/developer/tutorials"}Tutorials
      %li{:style=>"list-style-type: none;"}
        %a{:href=>"http://docs.redhat.com/docs/en-US/JBoss_Enterprise_Application_Platform/6/html/Beta_Documentation/index.html"}Documentation
      %li{:style=>"list-style-type: none;"}
        %a{:href=>"/developer/tutorials.html#migration-guides"}Migrating
  %div{:style=>"float:left; width: 250px;"}
    %h4 Get Involved
    %ul{:style=>"margin-left: 5px; margin-top: 5px; padding: 0;"}
      %li{:style=>"list-style-type: none;"}
        %a{:href=>"https://issues.jboss.org/browse/WAY"}Issue Tracker
      %li{:style=>"list-style-type: none;"}
        %a{:href=>"https://github.com/jboss/ticket-monster-tutorial"}Source
      %li{:style=>"list-style-type: none;"}
        %a{:href=>"http://www.jboss.org/jdf/jdf-users"}Forums
      %li{:style=>"list-style-type: none;"}
        %a{:href=>"http://www.jboss.org/contribute"}Share The JBoss Way
%div{:style=>"clear:both;"}