/* CSS Document */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);

@font-face {
 font-family: "Eraser Dust";
 src: url("../fonts/erasdust.eot") /* EOT file for IE */
}


@font-face {
	font-family:"Eraser Dust";
	src:url(../fonts/erasdust.ttf);	
}

body {
	margin:0;	
	background-color:#333333;
}

h1.label {
	font-family: 'Walter Turncoat', cursive;	
}

div#animationBox {
	width:650px;
	height:400px;
	/*background-color:rgba(2,68,67,1.00);*/	
	background-image:url(../images/carousel_jbossway_rev.jpg);
	position:relative;
}
div#animationBox a:hover {
	text-decoration:none;	
}

div#mainMenu {
	width:595px;
	height:341px;
	position:absolute;
	top:50px;
	left:27px;
}
div#cdiHeading {
	font-family:"Eraser Dust";
	color:white;
	font-size:50px;
	position:absolute;
	left:90px;
	top:20px;
	width:93px;
	height:37px;
	padding:0;
	line-height:1em;
	/*background-image:url(../images/cdiheading.png);	*/
}


/* Divs inside main Menu must all be sized relatively to #mainMenu (percentage based) */
div#relationalDiv {
	
	position:absolute;
	left:	.008%;  /* Of #mainMenu width */
	top:	19%;	/* Of #mainMenu height */
	background-image :url(../images/relational_circle.png);
	background-repeat:no-repeat;
	background-size  :100% 100%;
	width: 51%;		/* Of #mainMenu width */
	height:72%;     /* Of #mainMenu height */
	z-index:101;
}

div#nonRelationalDiv {
	
	position:absolute;
	left:	28.6%;  /* Of #mainMenu width */
	top:	.008%;	/* Of #mainMenu height */
	background-image :url(../images/non_relational_circle.png);
	background-repeat:no-repeat;
	background-size  :100% 100%;
	width: 45.4%;		/* Of #mainMenu width */
	height:83.6%;     /* Of #mainMenu height */
	font-size:15px;
	z-index:200;
}

/* Description Display Bos */
div.displayBox {
	
	width:330px;
	height:232px;
	padding:10px;
	background-image:url(../images/chalkDialogOutline.png);
	position:absolute;
	left:-500px;
	top:50px;
	color:white;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	opacity:0;
	
}
div.box-active {
	left:50px;
}
div.displayBox p {
	font-size:11px;
	overflow:hidden;	
}
div.displayBox p,
div.displayBox a.closeBtn {
	position:absolute;
	
}

div.displayBox h1 {
	/*font-family: 'Walter Turncoat', cursive;*/
	font-family:"Eraser Dust";
	font-weight:bold;
	padding:0;
	position:absolute;
	margin:0;
	top:-13%;
	color:white;
}
div.displayBox p {
	padding:0;
	margin:0;

	width:88%;
	height:74%;
	padding:3%;	
}
div.displayBox a.closeBtn {
	width:22px;
	height:22px;
	display:block;
	background-image:url(../images/closeChalkBtn.png);
	top:85%;
	left:90%;
	cursor:pointer;
}



div#cloudDiv {

	position:absolute;
	left:	52.94%;  /* Of #mainMenu width */
	top:	33.7%;	/* Of #mainMenu height */
	background-image :url(../images/cloud_storage_circle.png);
	background-repeat:no-repeat;
	background-size  :100% 100%;
	width: 48.4%;		/* Of #mainMenu width */
	height:65.98%;     /* Of #mainMenu height */
	z-index:102;
}




/* Links inside main Menu must all be sized relatively to #mainMenu (percentage based) */
div.mainMenu a,
div.mainMenu,
div#mainMenu div a {
	/*font-family: 'Walter Turncoat', cursive;	*/
	font-family:"Eraser Dust";
	color:white;
	font-size:22px;	
	position:absolute;
	z-index:1000;
	cursor:pointer;
	text-align:center;
	line-height:1.1em;
}

/* Links Inside Non-relational */
a#droolsBtn {
	left:43%;
	top:12%;
}
a#modeShapeJCRBtn {
	left:35%;
	top:28%;
}
/* Links Inside Relational */	
a#hibernateBtn {
	left:20%;
	top:35%;
}
a#modeShapeJDBCBtn {
	left:21%;
	top:55%;
}
/* Overlap area - Relational <--> Non-Relational*/
a#txBtn {
	left:10%;
	top:41%;
}
a#hibernateSearchBtn {
	left:8%;
	top:55%;
}
/* Overlap area - Non-Relational <--> Cloud Storage*/
a#infinispanBtn {
	left:60%;
	top:70%;
}
a#ogmBtn {
	left:75%;
	top:55%;
	
}
/* Links Inside Cloud Storage */	
a#jCloudsBtn {
	left:52%;
	top:40%;
}
a#cdmiBtn {
	left:53%;
	top:70%;
}

